/* PC */

@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  .menu-header__icon {
    position: absolute;
    top: 37px;
    left: 43px;
    color: #fff;
    width: 24px;
  }

  /* căn phần overlay */

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 1;
    /* bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* kiểm tra menu checkbox được check? */

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-drawer {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.174);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* kiểm tra menu checkbox được check thì ẩn hiện menu drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  /* menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-size: 2rem;
  }

  .navbar__link:hover {
    background-color: cadetblue;
  }

  /* khoi hero */
  /* .hero {
    flex-direction: column;
    row-gap: 40px;
  }
  .hero__content {
    order: 2;
  }
  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
  } */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__media {
    order: 1;
  }
  .hero__content {
    order: 2;
    width: 90%;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
  }
  /* khoi service */
  .service__row {
    flex-direction: column;
  }
  .service__img {
    width: 100%;
    margin: 22px auto;
  }
  .service__list {
    text-align: center;
  }
  .service-item {
    text-align: start;
    width: 90%;
  }
  /* work */
  .work .section-heading {
    text-align: center;
  }
  .work__desc {
    text-align: center;
    width: 100%;
  }
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 50px;
  }
  .about__img--small {
    display: none;
  }
  .about__media {
    width: 100%;
  }

  .about-content {
    text-align: center;
    width: 90%;
    row-gap: 30px;
  }
  /* team */

  .team__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .team-item {
    margin: 20px;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* install */
  .install__img {
    display: none;
  }
  .install__content {
    width: 90%;
    margin: 0 auto;
  }
  /* blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__content {
    width: 90%;
    text-align: center;
    order: 2;
  }
  .blog__heading {
    max-width: 100%;
  }
  .blog__control {
    justify-content: center;
  }
  .blog__list {
    grid-template-columns: repeat(1, 1fr);
    order: 1;
  }
  .blog-item {
    text-align: center;
    max-width: 80%;
    margin: 30px auto;
    font-size: 2rem;
  }
  .blog-item__thumb {
    width: 70%;
    height: 200px;
  }
  .blog-item__wrap {
    height: auto;
  }
}
/* Tablet  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-hidden-column {
    display: none;
  }
  .footer__top{
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
  }
}
/* Mobile */
@media (max-width: 767.98px) {
}
